<%= _.template(require('./../includes/header.html'))() %>
    <main class="main">
        <div class="container container_narrow">
            <h2>Your&nbsp;<br class="d-md-none">Subscriptions</h2>
        </div>
        <div class="container container_swithers">
            <div class="row">
                <div class="col">
                    <form action="">
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                <label class="custom-control-label" for="customSwitch1">We believe in unconditional sincerity and transparency. That's why our users' profiles reflect this in every possible way. With a simple and friendly layout, our profiles clearly show all the details you need to make an informed decision.</label>
                            </div>
                        </div>
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2" checked>
                                <label class="custom-control-label" for="customSwitch2">We believe in unconditional sincerity and transparency. That's why our users' profiles reflect this in every possible way. With a simple and friendly layout, our profiles clearly show all the details you need to make an informed decision.</label>
                            </div>
                        </div>
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3">We believe in unconditional sincerity and transparency. That's why our users' profiles reflect this in every possible way. With a simple and friendly layout, our profiles clearly show all the details you need to make an informed decision.</label>
                            </div>
                        </div>
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch4">
                                <label class="custom-control-label" for="customSwitch4">We believe in unconditional sincerity and transparency. That's why our users' profiles reflect this in every possible way. With a simple and friendly layout, our profiles clearly show all the details you need to make an informed decision.</label>
                            </div>
                        </div>
                        <div class="form-group form-group_btn-unsuscr">
                            <button class="btn btn_w100">save preferences</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>