.footer {
  background-color: transparent;
  a.footer__link {
    font-family: $font_family;
    font-weight: 400;
    color: $footer_text_color;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
  }
  a.footer__link:hover {
    color: $footer_text_color_hover;
    text-decoration: none;
  }
  a.footer__link:active {
    color: $footer_text_color_active;
    text-decoration: none;
  }
  a.footer__link {
    + a.footer__link {
      margin-top: 29px;
    }
  }
  @media (min-width: 992px) {
    a.footer__link {
      font-size: 16px;
      line-height: 24px;
    }
    a.footer__link {
      margin: 0 26px;
      + a.footer__link {
        margin-top: 0;
      }
    }
  }
}

.footer__bottom {
  padding: 50px 0 62px;
  @media (min-width: 992px) {
    padding: 59px 0 38px;
  }
}
