.display {
  p {
    line-height: 34px;
    @media (min-width: 768px) {
      line-height: 40px;
      font-size: 18px;
    }
  }
}
.display_01 {
  .index-btn-area {
    @media (min-width: 1200px) {
      width: 676px;
    }
  }
}
.display_02 {
  .index-btn-area {
    @media (min-width: 1200px) {
      width: 626px;
      margin: 64px auto 0;
    }
  }
}
.display_03 {
  .secondscreen {
    margin-bottom: 675px;
    @media (min-width: 1200px) {
      margin: 0;
    }
  }
}

.btn_display-01 {
  @media (min-width: 1200px) {
    margin-left: auto;
  }
}

.firstscreen {
  height: 580px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  @media (min-width: 992px) {
    height: 683px;
  }
  @media (min-width: 1200px) {
    height: 683px;
  }
  @media (min-width: 1500px) {
    height: 853px;
  }
  @media (min-width: 1920px) {
    height: 1092px;
  }
  &.firstscreen_bg-00 {
    background-image: url('../img/bg/bg-firstscreen-04m.jpg');
    @media (min-width: 1200px) {
      height: 100vh;
      background-image: url('../img/bg/bg-firstscreen.svg');
    }
  }
  &.firstscreen_bg-01 {
    background-image: url('../img/bg/bg-firstscreen-01m.jpg');
    @media (min-width: 1200px) {
      background-image: url('../img/bg/bg-firstscreen-01d.jpg');
    }
  }
  &.firstscreen_bg-02 {
    background-image: url('../img/bg/bg-firstscreen-02m.jpg');
    @media (min-width: 1200px) {
      background-image: url('../img/bg/bg-firstscreen-02d.jpg');
    }
  }
  &.firstscreen_bg-03 {
    background-image: url('../img/bg/bg-firstscreen-03m.jpg');
    @media (min-width: 1200px) {
      background-image: url('../img/bg/bg-firstscreen-03d.jpg');
    }
  }
  &.firstscreen_bg-04 {
    background-image: url('../img/bg/bg-firstscreen-04m.jpg');
    @media (min-width: 1200px) {
      background-image: url('../img/bg/bg-firstscreen-04d.jpg');
    }
  }
}

.secondscreen {
  color: $font_color2;
}

.index-btn-area {
  margin: 0 auto 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media (min-width: 1200px) {
    margin: 0 auto;
    z-index: 2;
  }
}

@keyframes bits {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

.btn-index {
  animation: 2s bits infinite linear;
}

.circle {
  @media (min-width: 1200px) {
    &.circle1 {
      @include circle(20px, $btn_bg_color);
    }
    &.circle2 {
      @include circle(60px, $btn_bg_color);
    }
  }
}


.collage {
  width: 100%;
  margin: 0 0 33px;
  position: relative;
  @media (min-width: 576px) {;
    margin: 0 0 60px;
  }
  @media (min-width: 1200px) {
    margin: -69px 0 119px;
    position: relative;
  }
}

.collage__img {
  width: 100%;
  height: auto;
  @media (min-width: 1200px) {
    position: relative;
    bottom: -1px;
  }
}