.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .logo__img {
    width: 34px;
    height: 34px;
    margin: 0 15px 0 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    background-image: url('../img/icons/logo-white.svg');
    @media (min-width: 992px) {
      width: 58px;
      height: 58px;
      margin: 0 35px 0 0;
    }
  }
  .logo__txt {
    text-transform: uppercase;
    font-family: $font_family;
    font-weight: 500;
    color: $font_color2;
    font-size: 15px;
    letter-spacing: 2px;
    @media (min-width: 992px) {
      font-size: 25px;
    }
  }
}

.logo_footer {
  flex-direction: column;
  margin: 0 0 40px 0;
  @media (min-width: 992px) {
    margin: 0 0 57px 0;
  }
  .logo__img {
    width: 31px;
    height: 31px;
    margin: 0 0 7px 0;
    background-image: url('../img/icons/logo-footer.svg');
    @media (min-width: 992px) {
      width: 37px;
      height: 37px;
      margin: 0 0 18px 0;
    }
  }
  .logo__txt {
    color: $font_color3;
    font-weight: 400;
    font-size: 13px;
    @media (min-width: 992px) {
      font-size: 16px;
    }
  }
}

