.logo {
  width: 65px;
  height: 59px;
  margin: 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto;
  background-image: url('../img/icons/logo.svg');
  @media (min-width: 992px) {
    width: 100px;
    height: 98px;
  }
}

.logo_main {
  width: 69px;
  height: 67px;
  @media (min-width: 992px) {
    width: 100px;
    height: 98px;
  }
}

